
.p-logo {
    background: #bfd1ae62 0% 0% no-repeat padding-box;
    backdrop-filter:  blur(2px);
}



main {
 
    width: 100%;
    height: 90vh;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    display: grid;
    grid-template-columns: [first] 5% [line2] 44% [line3] 2% [line4] 44% [col4-start] 5% [end];
    grid-template-rows: [row1-start] 8% [row1] 10% [row1-end] 2% [third-line] auto [last-line] 10% [end];
    /* grid-template-columns: repeat(2, 1fr); */
    column-span: 10;
    
    /* grid-gap: 2em;
    padding: 3em;
    overflow: auto;
    grid-auto-rows: minmax(100px, auto);
     */

}

.upcoming-treatment-header{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 1;

    background: #FEF3EC 0% 0% no-repeat padding-box;
    border-radius: 35px;
    
    
}

.last-actions-header {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: span 1;

    background: #E9DCD4 0% 0% no-repeat padding-box;
    border-radius: 35px;
    opacity: 1;
}

.upcoming-treatment{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: span 1;

    background: #FEF3EC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 44px;
    opacity: 1;

}

.last-actions{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: span 1;

    background: #E9DCD4 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 44px;
    opacity: 1;

}


main>section  {
    /* align-items: center; */
    display: grid;
    grid-template-rows: [row1-start] 25% [row1] 25% [row2] 25% [row1-end] 25% [end];   
    justify-items: center;

    text-align: center;
    text-justify: auto;

    font: normal normal normal 35px/43px Ink Free;
    letter-spacing: 1.4px;
    color: #000000;
    opacity: 1;
    font-weight: bold;
}
main>header {
    text-align: center;
    text-justify: auto;
    
    font: normal normal normal 35px/43px Ink Free;
    letter-spacing: 1.4px;
    color: #000000;
    opacity: 1;
    font-weight: bold;
}


main>section>div {
    display: grid;
    grid-template-columns: [first] 25% [line2] 75% [end];
    align-items: center;
    justify-items: center;
    
}

main>section>div>img {
    height: 65%;
    width: 65%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #291D164D;
    border: 2px solid #1D3811BD;
}

.plant-short-data {
    height: 50%;
    width: 90%;
    padding:  0.2em;
    background: #29401554 0% 0% no-repeat padding-box;
    border: 1px solid #707070bd;
    border-radius: 28px;
    opacity:1;
    /* background-color:rgba(255, 255, 255, 0.055) */


}
