body {
    margin: 0px;
    padding:0;
    position:absolute;
    /* background: transparent linear-gradient(180deg, #FEF3EC 0%, #cec0b8 100%) 0% 0% no-repeat padding-box; */
}

.base-container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FEF3EC 0%, #cec0b8 100%) 0% 0% no-repeat padding-box;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    
}

.messages {
    font: normal normal normal 20px/20px Ink Free;
    letter-spacing: 0px;
    color: #3a3939;
}

nav {
    
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    align-items: center;

    background: transparent url('../img/monstera_bar.jpg') 0% 0% no-repeat padding-box;
    background-size: cover;
}

.nav-icons {
    color: #FEF3EC;
    text-align: center;
    align-items: center;

    /*display: grid;*/
    /*grid-*/
    /*background: transparent url('../img/monstera_bar.jpg') 0% 0% no-repeat padding-box;*/
    /*background-size: cover;*/
}

.p-logo {
    text-align: left;
    font: normal normal normal 55px/35px Hontizema;
    letter-spacing: 2.6px;
    color: #FEF3EC;
    text-shadow: 0px 3px 6px #000000;
    opacity: 1;
    backdrop-filter:  blur(1px)  ;
    border-radius: 10px;
    /* -webkit-backdrop-filter: blur(20px); */
    padding: 30px;
    


}

.my-plants-header, .treatment, .society {
    text-align: center;
    width: 15vw;
    font: normal normal normal 30px/12px Ink Free;
    letter-spacing: 0px;
    color: #FBF7F5;
    text-shadow: 4px 3px 6px #00000066;
    opacity: 1;
    padding: 35px;
    border-radius: 30px;

}

.button {
    color: #FBF7F5;
    text-decoration: none;
}


.ul-icons {
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
    align-items: center;
    /*margin-left: 2vw;*/
}
.blank-space{
    width: 20vw;
}

.ul_buttons {
    color: #FEF3EC;
}

.ul-icons > li {
    list-style-type: none;
    margin:2vw;
    justify-items: center;
    align-items: center;
    text-align: center;

    /* padding: 40px; */

}

.ul-icons > li a {
    display: block;
    font: normal normal normal 1vw/1.3vh Ink Free;
    text-align: center;
    font-weight: bold;
    /*margin-top: 0.3vh;*/

}


nav .plants-header {
    text-align: left;
    font: normal normal normal 30px/12px Ink Free;
    letter-spacing: 0px;
    color: #FBF7F5;
    text-shadow: 4px 3px 6px #00000066;
    opacity: 1;
}

.no-valid {
    border: 4px;
    /*border-radius: 1em;*/
    box-shadow: 0 0 0.2em rgb(178, 0, 0);
    outline: none;
}


@media only screen and (max-device-width: 420px) {

    .nav-icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .nav-icons >ul  {
        grid-row-start: 1;
        grid-row-end: span 1;
        grid-column-start: 1 ;
        grid-column-end: span 4;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;

    }
    .nav-icons >ul > li {
        margin: 0 6vw;
        margin-top: 1.2vh;

    }

    .nav-icons > div {
        grid-row-start: 2;
        grid-row-end: span 1;

    }

    .my-plants-header, .treatment, .society {
        width: 22vw;
        font: normal normal normal 2vh/2vh Ink Free;
    }

    /*.nav-icons > ul > li > i::before {*/
    /*    width: 5vh;*/
    /*    height: 5vh;*/
    /*}*/

    .nav-icons > ul > li > a {
        font: normal normal normal 1vh/1vh Ink Free;
    }





}
